<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE HTML>
<html>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load humanize %}
    <link rel="stylesheet" href="/pluginMedia/{{plugin_name}}/bootstrap-4.1.3-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/pluginMedia/{{plugin_name}}/offcanvas.css"/>
    <link rel="stylesheet" href="/pluginMedia/{{plugin_name}}/ag-grid-19.1.1/packages/ag-grid-community/dist/styles/ag-grid.css"/>
    <link rel="stylesheet" href="/pluginMedia/{{plugin_name}}/ag-grid-19.1.1/packages/ag-grid-community/dist/styles/ag-theme-balham.css"/>

    <script type="text/javascript" src="/pluginMedia/{{plugin_name}}/ag-grid-19.1.1/packages/ag-grid-community/dist/ag-grid-community.noStyle.js"></script>
    <script type="text/javascript" src="/pluginMedia/{{plugin_name}}/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/pluginMedia/{{plugin_name}}/ag-grid-19.1.1/packages/ag-grid-community/dist/ag-grid-community.js"></script>


    {% if autorefresh %}
        <META HTTP-EQUIV="refresh" CONTENT="15">
    {% endif %}

    <style type="text/css">
        .mylead {
            font-size: 3rem;
            font-weight: 500;
        }
    </style>

</head>
<title>Antibiotic Resistant Gene Table: {{ barcode }}</title>
<body class="bg-dark">
<main role="main" class="container-fluid">
    <div class="my-0 p-5 m-2  bg-white rounded box-shadow">
        <div class="span10 fluid d-flex align-items-center p-3 my-2">
            <img src="/pluginMedia/{{plugin_name}}/images/ARUP_horz_2c_pos.jpg" style="width: 20%; height: auto"/>
        </div>

        <p class="mylead">Antibiotic Resistant Gene Table</p>
        <hr>
        <p class="title-end"> BarCode: <b>{{ barcode }}</b></p>
        <p class="title-end"> Sample_ID: <b>{{ strain_id }}</b></p>
        <p class="title-end"> Sample: <b>{{ sample }}</b></p>
        <p></p>
        <hr>

        <div id="myGrid" style="height: 1200px;width:100%;" class="ag-theme-balham"></div>
        <script type="text/javascript" charset="utf-8">
            // specify the columns
            var columnDefs = [
                {headerName: "Allele", field: "allele", filter: "agTextColumnFilter"},
                {
                    headerName: "Genbank Accession",
                    field: "accession",
                    cellStyle: {textAlign: "left"},
                    filter: "agTextColumnFilter",
                    unSortIcon: true
                },
                {
                    headerName: "Gene",
                    field: "gene",
                    cellStyle: {textAlign: "left"},
                    filter: "agTextColumnFilter",
                    unSortIcon: true
                },
                {
                    headerName: "Description",
                    field: "description",
                    cellStyle: {textAlign: "left"},
                    filter: "agTextColumnFilter",
                    width: 200,
                    unSortIcon: true
                },
                {
                    headerName: "Percent Kmer Identity",
                    field: "kmer_identity",
                    cellStyle: {textAlign: "center"},
                    filter: "agNumberColumnFilter",
                    unSortIcon: true
                },
                {
                    headerName: "Coverage Change from Genome",
                    field: "coverage_change",
                    cellStyle: {textAlign: "center"},
                    filter: "agNumberColumnFilter",
                    unSortIcon: true
                },
                {
                    headerName: "Originating Species",
                    field: "species",
                    cellStyle: {textAlign: "left"},
                    unSortIcon: true
                }
            ];

            // specify the data
            var rowData = {{resistant_genes|safe}};

            // let the grid know which columns and what data to use
            var gridOptions = {
                enableFilter: true,
                animateRows: true,
                enableColResize: true,
                enableSorting: true,
                columnDefs: columnDefs,
                rowData: rowData,
                onGridReady: function (params){
                    params.api.sizeColumnsToFit();
                    window.addEventListener('resize', function() {
                      setTimeout(function() {
                        params.api.sizeColumnsToFit();
                      })
                    })
                },
            };

            // setup the grid after the page has finished loading
            document.addEventListener('DOMContentLoaded', function () {
                var egridDiv = document.querySelector('#myGrid');
                new agGrid.Grid(egridDiv, gridOptions);
                gridOptions.api.sizeColumnsToFit();

            });
        </script>

</div>
</main>
</body>
</html>

